
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Local NVM version
.nvmrc

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Next.js
/.next/
/out/

.firebase/*
/.firebase/


# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local Env Files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase
firebase-debug.log
*.firebase.*.log # Firebase CLI debug logs
database-debug.log
firestore-debug.log
.firebase/file-insights-aqksp/functions/.next/app-build-manifest.json
.firebase/file-insights-aqksp/functions/.next/app-path-routes-manifest.json
.firebase/file-insights-aqksp/functions/.next/BUILD_ID
.firebase/file-insights-aqksp/functions/.next/build-manifest.json
.firebase/file-insights-aqksp/functions/.next/export-marker.json
.firebase/file-insights-aqksp/functions/.next/images-manifest.json
.firebase/file-insights-aqksp/functions/.next/next-minimal-server.js.nft.json
.firebase/file-insights-aqksp/functions/.next/next-server.js.nft.json
.firebase/file-insights-aqksp/functions/.next/package.json
.firebase/file-insights-aqksp/functions/.next/prerender-manifest.json
.firebase/file-insights-aqksp/functions/.next/react-loadable-manifest.json
.firebase/file-insights-aqksp/functions/.next/required-server-files.json
.firebase/file-insights-aqksp/functions/.next/routes-manifest.json
.firebase/file-insights-aqksp/functions/.next/trace
.firebase/file-insights-aqksp/functions/.next/cache/webpack/client-production/0.pack
.firebase/file-insights-aqksp/functions/.next/cache/webpack/client-production/1.pack
.firebase/file-insights-aqksp/functions/.next/cache/webpack/client-production/2.pack
.firebase/file-insights-aqksp/functions/.next/cache/webpack/client-production/3.pack
.firebase/file-insights-aqksp/functions/.next/cache/webpack/client-production/4.pack
.firebase/file-insights-aqksp/functions/.next/cache/webpack/client-production/5.pack
.firebase/file-insights-aqksp/functions/.next/cache/webpack/client-production/6.pack
.firebase/file-insights-aqksp/functions/.next/cache/webpack/client-production/7.pack
.firebase/file-insights-aqksp/functions/.next/cache/webpack/client-production/8.pack
.firebase/file-insights-aqksp/functions/.next/cache/webpack/client-production/9.pack
.firebase/file-insights-aqksp/functions/.next/cache/webpack/client-production/index.pack
.firebase/file-insights-aqksp/functions/.next/cache/webpack/client-production/index.pack.old
.firebase/file-insights-aqksp/functions/.next/cache/webpack/edge-server-production/0.pack
.firebase/file-insights-aqksp/functions/.next/cache/webpack/edge-server-production/index.pack
.firebase/file-insights-aqksp/functions/.next/cache/webpack/server-production/0.pack
.firebase/file-insights-aqksp/functions/.next/cache/webpack/server-production/1.pack
.firebase/file-insights-aqksp/functions/.next/cache/webpack/server-production/2.pack
.firebase/file-insights-aqksp/functions/.next/cache/webpack/server-production/3.pack
.firebase/file-insights-aqksp/functions/.next/cache/webpack/server-production/4.pack
.firebase/file-insights-aqksp/functions/.next/cache/webpack/server-production/index.pack
.firebase/file-insights-aqksp/functions/.next/cache/webpack/server-production/index.pack.old
.firebase/file-insights-aqksp/functions/.next/diagnostics/build-diagnostics.json
.firebase/file-insights-aqksp/functions/.next/diagnostics/framework.json
.firebase/file-insights-aqksp/functions/.next/server/app-paths-manifest.json
.firebase/file-insights-aqksp/functions/.next/server/functions-config-manifest.json
.firebase/file-insights-aqksp/functions/.next/server/interception-route-rewrite-manifest.js
.firebase/file-insights-aqksp/functions/.next/server/middleware-build-manifest.js
.firebase/file-insights-aqksp/functions/.next/server/middleware-manifest.json
.firebase/file-insights-aqksp/functions/.next/server/middleware-react-loadable-manifest.js
.firebase/file-insights-aqksp/functions/.next/server/next-font-manifest.js
.firebase/file-insights-aqksp/functions/.next/server/next-font-manifest.json
.firebase/file-insights-aqksp/functions/.next/server/pages-manifest.json
.firebase/file-insights-aqksp/functions/.next/server/server-reference-manifest.js
.firebase/file-insights-aqksp/functions/.next/server/server-reference-manifest.json
.firebase/file-insights-aqksp/functions/.next/server/webpack-runtime.js
.firebase/file-insights-aqksp/functions/.next/server/app/_not-found.html
.firebase/file-insights-aqksp/functions/.next/server/app/_not-found.meta
.firebase/file-insights-aqksp/functions/.next/server/app/_not-found.rsc
.firebase/file-insights-aqksp/functions/.next/server/app/favicon.ico.body
.firebase/file-insights-aqksp/functions/.next/server/app/favicon.ico.meta
.firebase/file-insights-aqksp/functions/.next/server/app/index.html
.firebase/file-insights-aqksp/functions/.next/server/app/index.meta
.firebase/file-insights-aqksp/functions/.next/server/app/index.rsc
.firebase/file-insights-aqksp/functions/.next/server/app/page_client-reference-manifest.js
.firebase/file-insights-aqksp/functions/.next/server/app/page.js
.firebase/file-insights-aqksp/functions/.next/server/app/page.js.nft.json
.firebase/file-insights-aqksp/functions/.next/server/app/_not-found/page_client-reference-manifest.js
.firebase/file-insights-aqksp/functions/.next/server/app/_not-found/page.js
.firebase/file-insights-aqksp/functions/.next/server/app/_not-found/page.js.nft.json
.firebase/file-insights-aqksp/functions/.next/server/app/favicon.ico/route.js
.firebase/file-insights-aqksp/functions/.next/server/app/favicon.ico/route.js.nft.json
.firebase/file-insights-aqksp/functions/.next/server/chunks/25.js
.firebase/file-insights-aqksp/functions/.next/server/chunks/204.js
.firebase/file-insights-aqksp/functions/.next/server/chunks/303.js
.firebase/file-insights-aqksp/functions/.next/server/chunks/447.js
.firebase/file-insights-aqksp/functions/.next/server/chunks/548.js
.firebase/file-insights-aqksp/functions/.next/server/chunks/952.js
.firebase/file-insights-aqksp/functions/.next/server/chunks/970.js
.firebase/file-insights-aqksp/functions/.next/server/pages/_app.js
.firebase/file-insights-aqksp/functions/.next/server/pages/_app.js.nft.json
.firebase/file-insights-aqksp/functions/.next/server/pages/_document.js
.firebase/file-insights-aqksp/functions/.next/server/pages/_document.js.nft.json
.firebase/file-insights-aqksp/functions/.next/server/pages/_error.js
.firebase/file-insights-aqksp/functions/.next/server/pages/_error.js.nft.json
.firebase/file-insights-aqksp/functions/.next/server/pages/404.html
.firebase/file-insights-aqksp/functions/.next/server/pages/500.html
.firebase/file-insights-aqksp/functions/.next/static/_rmTwIG9jCvyYTOLIx1wr/_buildManifest.js
.firebase/file-insights-aqksp/functions/.next/static/_rmTwIG9jCvyYTOLIx1wr/_ssgManifest.js
.firebase/file-insights-aqksp/functions/.next/static/chunks/4bd1b696-4ad49f259c53d116.js
.firebase/file-insights-aqksp/functions/.next/static/chunks/186-eba7691fc61e9338.js
.firebase/file-insights-aqksp/functions/.next/static/chunks/364-c15fd7fda3d6783e.js
.firebase/file-insights-aqksp/functions/.next/static/chunks/684-5efef8623fe9fb41.js
.firebase/file-insights-aqksp/functions/.next/static/chunks/829-90e656f1a9ab8564.js
.firebase/file-insights-aqksp/functions/.next/static/chunks/framework-6d868e9bc95e10d8.js
.firebase/file-insights-aqksp/functions/.next/static/chunks/main-app-9f4f66c0efa5e0b9.js
.firebase/file-insights-aqksp/functions/.next/static/chunks/main-eadbe010d666bb2c.js
.firebase/file-insights-aqksp/functions/.next/static/chunks/polyfills-42372ed130431b0a.js
.firebase/file-insights-aqksp/functions/.next/static/chunks/webpack-49a880fbf9fd6dea.js
.firebase/file-insights-aqksp/functions/.next/static/chunks/app/layout-67c00dff009185dc.js
.firebase/file-insights-aqksp/functions/.next/static/chunks/app/page-f34cbd6d19319e16.js
.firebase/file-insights-aqksp/functions/.next/static/chunks/app/_not-found/page-7b137d85f9de4771.js
.firebase/file-insights-aqksp/functions/.next/static/chunks/pages/_app-da15c11dea942c36.js
.firebase/file-insights-aqksp/functions/.next/static/chunks/pages/_error-cc3f077a18ea1793.js
.firebase/file-insights-aqksp/functions/.next/static/css/d51d0c9dc2ab4163.css
.firebase/file-insights-aqksp/functions/.next/static/media/2cfdfbfe4af47725-s.woff2
.firebase/file-insights-aqksp/functions/.next/static/media/2fe2f05d07c11f4a-s.woff2
.firebase/file-insights-aqksp/functions/.next/static/media/4d891913165239e7-s.p.woff2
.firebase/file-insights-aqksp/functions/.next/static/media/4f2027e6018c36ca-s.woff2
.firebase/file-insights-aqksp/functions/.next/static/media/6c26a2dd7f70b5f9-s.woff2
.firebase/file-insights-aqksp/functions/.next/static/media/7f53015bcc551548-s.p.woff2
.firebase/file-insights-aqksp/functions/.next/static/media/08d3439b25582337-s.woff2
.firebase/file-insights-aqksp/functions/.next/static/media/8e9860b6e62d6359-s.woff2
.firebase/file-insights-aqksp/functions/.next/static/media/9cca8c15d03f3bd5-s.p.woff2
.firebase/file-insights-aqksp/functions/.next/static/media/26a46d62cd723877-s.woff2
.firebase/file-insights-aqksp/functions/.next/static/media/55c55f0601d81cf3-s.woff2
.firebase/file-insights-aqksp/functions/.next/static/media/67bc1a53108fc01d-s.woff2
.firebase/file-insights-aqksp/functions/.next/static/media/97e0cb1ae144a2a9-s.woff2
.firebase/file-insights-aqksp/functions/.next/static/media/7367376cbf545cc0-s.woff2
.firebase/file-insights-aqksp/functions/.next/static/media/80108106befacdae-s.woff2
.firebase/file-insights-aqksp/functions/.next/static/media/581909926a08bbc8-s.woff2
.firebase/file-insights-aqksp/functions/.next/static/media/a9475208a133ee0b-s.woff2
.firebase/file-insights-aqksp/functions/.next/static/media/adbd117bea224445-s.woff2
.firebase/file-insights-aqksp/functions/.next/static/media/b330e01c5cfe35ec-s.woff2
.firebase/file-insights-aqksp/functions/.next/static/media/cf62dc41c37ae213-s.p.woff2
.firebase/file-insights-aqksp/functions/.next/static/media/df0a9ae256c0569c-s.woff2
.firebase/file-insights-aqksp/functions/.next/static/media/e4af272ccee01ff0-s.p.woff2
.firebase/file-insights-aqksp/functions/.next/static/media/ee1941bb2d417653-s.woff2
.firebase/file-insights-aqksp/functions/.next/types/cache-life.d.ts
.firebase/file-insights-aqksp/functions/.next/types/package.json
.firebase/file-insights-aqksp/functions/.next/types/app/page.ts
